*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

.header{
    width: 100%;
    flex-wrap: wrap;
    background: #202020;
}
.mix-container{
    width: 100%;
    height: 80vh;
    flex-wrap: wrap;
    background: url(../img/backgraund/backgraund-1.jpg) no-repeat center center / cover;
}
.menu_ul{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.324);
}
.link-navs{
    color: rgb(0, 0, 0);
    padding: 0px 8px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
}
.central-navs{
    width: 100%;
    height: 87%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.h1-1{
    color: rgb(255, 0, 0);
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    background: rgba(0, 0, 0, 0.331);
    padding: 5px;
    width: 500px;
    cursor: pointer;
    transition: 1s;
}
.span-1{
    color: rgb(255, 255, 255);
}
.h1-1:hover{
    background: rgba(0, 0, 0, 0.776);
    width: 500px;
}
.cols-pictures{
    width: 100%;
    background: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.img-1{
    width: 40%;
    padding: 20px 10px 10px 10px;
    transition: 1s;
}
.img-22{
    width: 100%;
    transition: 1s;
}
.img-22:hover{
    width: 102%;
}
.img-1:hover{
    width: 40%;
}



/**************************************************************************/

@media (max-width: 1500px) {
    .h1-1 {
        color: rgb(255, 0, 0);
        font-size: 35px;
        text-align: center;
        text-transform: uppercase;
        background: rgba(0, 0, 0, 0.331);
        padding: 5px;
        width: 683px;
        cursor: pointer;
        transition: 1s;
    }
    .cols-pictures {
        width: 100%;
        background: #202020;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .menu_ul {
        width: 100%;
        height: 58px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(0, 0, 0, 0.324);
    }
    .link-navs {
        color: rgb(0, 0, 0);
        padding: 0px 15px;
        font-size: 24px;
        text-transform: uppercase;
        font-weight: bold;
    }
    .mix-container {
        width: 100%;
        height: 87vh;
        flex-wrap: wrap;
        background: url(../img/backgraund/backgraund-1.jpg) no-repeat center center / cover;
    }
}

@media (max-width: 950px) {
    .menu_ul {
        width: 100%;
        height: 41px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(0, 0, 0, 0.324);
    }
    .link-navs {
        color: rgb(0, 0, 0);
        padding: 0px 15px;
        font-size: 17px;
        text-transform: uppercase;
        font-weight: bold;
    }
    .h1-1 {
        color: rgb(255, 0, 0);
        font-size: 24px;
        text-align: center;
        text-transform: uppercase;
        background: rgba(0, 0, 0, 0.331);
        padding: 5px;
        width: 458px;
        cursor: pointer;
        transition: 1s;
    }
    .mix-container {
        width: 100%;
        height: 416px;
        flex-wrap: wrap;
        background: url(../img/backgraund/backgraund-1.jpg) no-repeat center center / cover;
    }
}

@media (max-width: 650px) {
    .menu_ul {
        width: 100%;
        height: 34px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(0, 0, 0, 0.324);
    }
    .link-navs {
        color: rgb(0, 0, 0);
        padding: 0px 9px;
        font-size: 13px;
        text-transform: uppercase;
        font-weight: bold;
    }
    .mix-container {
        width: 100%;
        height: 416px;
        flex-wrap: wrap;
        background: url(../img/backgraund/backgraund-1.jpg) no-repeat center center / cover;
    }
    .h1-1 {
        color: rgb(255, 0, 0);
        font-size: 20px;
        text-align: center;
        text-transform: uppercase;
        background: rgba(0, 0, 0, 0.331);
        padding: 5px;
        width: 458px;
        cursor: pointer;
        transition: 1s;
    }
    .img-1 {
        width: 46%;
        padding: 20px 10px 10px 10px;
        transition: 1s;
    }
}

@media (max-width: 550px) {
    .h1-1 {
        color: rgb(255, 0, 0);
        font-size: 20px;
        text-align: center;
        text-transform: uppercase;
        background: rgba(0, 0, 0, 0.331);
        padding: 5px;
        width: 369px;
        cursor: pointer;
        transition: 1s;
    }
    .img-1 {
        width: 46%;
        padding: 20px 10px 10px 10px;
        transition: 1s;
    }
    .h1-1:hover {
        background: rgba(0, 0, 0, 0.776);
        width: 370px;
    }
}
@media (max-width: 450px) {
    .img-1 {
        width: 44%;
        padding: 20px 3px 3px 3px;
        transition: 1s;
    }
}
@media (max-width: 386px) {
    .h1-1 {
        color: rgb(255, 0, 0);
        font-size: 16px;
        text-align: center;
        text-transform: uppercase;
        background: rgba(0, 0, 0, 0.331);
        padding: 5px;
        width: 292px;
        cursor: pointer;
        transition: 1s;
    }
    .h1-1:hover{
        width: 292px;
    }
}